
@media (max-width: 992px) {
    .container {
        max-width: 740px;
        padding: 0 20px;
    }

    .nav ul {
        margin-left: -240px;
        gap: 12px;
    }

    .nav{
        margin-top: 4px;
    }

    .text-content{
        margin: 0 auto;
    }

    .hero-screen{
        background-image: url("../img/768-back.png");
    }

    .benefits-content{
        display: block;
    }

    .benefits-video{
        text-align: center;
    }

    .hero-text{
        margin-top: -14px;
    }

    .title-hero{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 390px;
    }

    .hero-text p{
        font-size: 22px;
        line-height: 90px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }

    .hero img {
        max-width: 80%;
        margin-top: -30px;
    }

    .section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }

    .section-title {
        margin-bottom: 10px;
    }

    .section img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .section-title-benefits {
        margin-bottom: 20px;
    }

    .order-form {
        max-width: 460px;
        margin: 0 auto;
    }

    .features-wrapper{
        display: block;
    }

    .veg-rev1{
        display: none;
    }

    .veg-rev2{
        display: none;
    }

    .delivery-info{
        margin-bottom: 40px;
    }

    .features-list{
        margin-left: 138px;
    }

    .features-image img {
        max-width: 324px;
    }

    footer .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .subline {
        text-align: center;
        margin-bottom: 10px;
    }

    .image-grid{
        gap: 8px;
        margin: 0 auto;
    }

    .kitchen-content{
        display: block;
    }

}



@media (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 16px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        margin-bottom: -60px;
    }

    .hero img {
        display: none;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .section img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .order-form {
        max-width: 380px;
    }

    .order-btn {
        width: 260px;
    }

    footer .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .features-wrapper{
        display: block;
    }

    .features-list li{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .delivery-image img {
        max-width: 380px;
        border-radius: 20px;
    }

    .delivery-info {
        margin-bottom: 40px;
    }

    .veg-rev2{
        display: none;
    }

    .veg-rev1{
        display: none;
    }

    .reviews-title{
       font-size: 24px;
        margin-bottom: 30px;
    }

    .features-image img {
        max-width: 3240px;
    }

    .features-list{
        margin-left: 50px;
    }

    .features .title{
        font-size: 24px;
    }

    .features .subtitle{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .cta{
        margin-bottom: 60px;
    }

    .benefits-list li{
        margin-bottom: 20px;
    }

    .section-title-benefits {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 44px;
    }

    .kitchen-content {
        gap: 30px;
        display: block;
    }

    .text-content ul li{
        margin-bottom: 20px;
    }

    .section-title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 44px;
    }

    .text-content h3{
        width: auto;
    }

    .hero-screen{
        background-image: url("../img/540-back.png");
    }

    .hero-text p{
        width: auto;
        font-size: 18px;
        padding: 40px;
        line-height: 30px;
        margin-top: -18px;
        margin-bottom: 20px;

    }

    .title-hero{
        font-size: 24px;
        line-height: 42px;
    }

    .hero-text{
        margin-left: 0;
    }

    .nav ul{
        gap: 16px;
        margin-left: -124px;
    }

    .nav a{
        font-size: 12px;
    }

    .price{
        margin-top: 400px;
    }

    .delivery-title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .subline {
        text-align: center;
        margin-bottom: 10px;
    }

    .delivery-title {
        margin-top: 60px;
    }

    .image-grid{
        gap: 8px;
    }


}


@media (max-width: 540px) {
    body {
        font-size: 16px;
    }

    .container{
        max-width: 420px;
        padding: 0 12px;
    }

    .hero-screen{
        background-image: url("../img/420-back.png");
    }

    .nav .btn-outline{
        display: none;
    }

    .nav ul {
        margin-left: -100px;
        margin-bottom: -10px;
    }

    .nav {
        margin-top: -4px;
    }

    .hero-text p {
        font-size: 16px;
        line-height: 26px;
    }

    .title-hero {
        font-size: 22px;
        line-height: 38px;
    }

    .price {
        margin-top: 394px;
    }

    .hero img {
        display: block;
    }

    .text-content h3{
        font-size: 16px;
        margin-bottom: 30px;
    }

    .section-title{
        margin-bottom: 20px;
    }

    .text-content {
        margin-top: 20px;
    }

    .subline {
        text-align: center;
        margin-bottom: 10px;
    }

    .features .title{
        line-height: 44px;
    }

    .features-list {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .features-image img {
        max-width: 310px;
        margin-bottom: 20px;
    }

    .reviews-wrapper{
        display: block;
    }

    .delivery-title {
        margin-top: 60px;
    }

    .image-grid{
        gap: 8px;
    }

    .slicer-benefits video {
        max-width: 340px;
    }


}



@media (max-width: 440px) {
    body {
        font-size: 16px;
        padding: 20px 0;
    }

    h1 {
        font-size: 24px;
    }

    .nav ul {
        margin-left: -70px;
    }

    .hero-screen{
        background-image: url("../img/340-back.png");
    }

    .container {
        padding: 0 10px;
        max-width: 350px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .hero img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    .section img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .order-form {
        max-width: 100%;
    }

    .order-form input,
    .order-form select {
        font-size: 15px;
        padding: 9px;
    }

    .order-btn {
        width: 100%;
        font-size: 15px;
        padding: 11px;
    }

    footer .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }

    .delivery-title {
        margin-top: 60px;
    }

    .image-grid{
        gap: 8px;
    }

    .button-primary{
        max-width: 268px;
        font-size: 18px;
    }
    .hero-text p {
        font-size: 14px;
    }

    .title-hero {
        font-size: 20px;
        line-height: 34px;
        margin-left: 20px;
        margin-bottom: 328px;
    }

    .section-title{
        font-size: 20px;
        line-height: 30px;
    }

    .text-content h3 {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .subline {
        font-size: 14px;
    }

    .features .subtitle {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .features-list {
        margin-left: 20px;
    }

    .features .title {
        line-height: 34px;
        font-size: 20px;
    }

    .section-title-benefits {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 34px;
    }

    .features{
        padding: 20px 4px;
    }

    .price {
        margin-top: 320px;
    }

    .reviews-title {
        font-size: 18px;
        line-height: 28px;
    }

    .reviews{
        padding: 10px 20px;
    }

    .privacy {
        font-size: 9px
    }

    .order-btn{
        max-width: 260px;
        height: 60px;
    }

    .order-form input{
        padding: 18px;
    }


    .delivery-image img {
        max-width: 300px;
    }


    .features-image img {
        max-width: 280px;
    }

    .slicer-benefits video {
        max-width: 320px;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 14px;
    }

    h1, h2, h3 {
        font-size: 1.2rem;
    }

    .container {
        padding: 0 10px;
    }

    header nav ul {
        gap: 8px;
    }

    .hero {
        padding: 15px 0;
    }

    .hero img {
        max-width: 100%;
    }

    .section {
        padding: 15px 0;
    }

    .section img {
        max-width: 100%;
    }

    .order-form input,
    .order-form select {
        font-size: 14px;
        padding: 8px;
    }

    .order-btn {
        font-size: 14px;
        padding: 10px;
    }

    footer .footer-content {
        gap: 10px;
    }

    .delivery-title {
        margin-top: 60px;
    }

    .image-grid{
        gap: 8px;
    }

    .button-primary{
        max-width: 268px;
        font-size: 18px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .title-hero {
        font-size: 20px;
        line-height: 34px;
    }

    .reviews-title {
        font-size: 18px;
    }

    .delivery-image img {
        max-width: 290px;
    }

    .features-image img {
        max-width: 280px;
    }

    .slicer-benefits video {
        max-width: 300px;
    }

    .text-content h3{
        font-size: 12px;
    }
}