
@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subsetMontserrat_Regular85f06.woff2') format('woff2'),
    url('../fonts/subsetMontserrat_Regularb390e.woff') format('woff'),
    url('../fonts/subsetMontserrat_Regular4e1ca.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subsetMontserrat_Lightab721.woff2') format('woff2'),
    url('../fonts/subsetMontserrat_Light48014.woff') format('woff'),
    url('../fonts/subsetMontserrat_Light8be2b.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subsetMontserrat_Mediumfe300.woff2') format('woff2'),
    url('../fonts/subsetMontserrat_Medium29de2.woff') format('woff'),
    url('../fonts/subsetMontserrat_Mediume0ebb.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subsetMontserrat_Bold654c3.woff2') format('woff2'),
    url('../fonts/subsetMontserrat_Bold520be.woff') format('woff'),
    url('../fonts/subsetMontserrat_Bold1f776.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subsetMontserrat_Blackf195d.woff2') format('woff2'),
    url('../fonts/subsetMontserrat_Black46ea8.woff') format('woff'),
    url('../fonts/subsetMontserrat_Blackbf1b6.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4FFEE;
    color: #34464F;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4FFEE;
}

.nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    list-style: none;
    margin-bottom: 40px;
}

.nav a {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.hero-screen{
    margin-top: -20px;
    background-image: url("../img/Hero-img-back.png");
    background-repeat: no-repeat;
}

.nav .btn-outline {
    border-radius: 25px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    padding: 16px 36px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 60px;
    position: relative;
    overflow: hidden;
}

.hero img{
    max-width: 570px;
}

.nav{
    margin-top: -20px;
}

.hero-text {
    margin-left: -80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-text p {
    color: #449712;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    text-transform: uppercase;
    display: flex;
    width: 850px;
    height: 72px;
    flex-direction: column;
    flex-shrink: 0;
}

.title-hero {
    color: #34464F;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
}

.price {
    font-size: 24px;
    margin: 10px 0;
    gap: 10px;
}
.price img{
    max-width: 610px;
}

.price del {
    color: #999;
}

.button-primary {
    border-radius: 16px;
    border: 1px  #FF7F00;
    background: linear-gradient(90deg, #FF7F00 26.94%, #FFD600 100%);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 14px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
}

.button-primary:hover {
    background: linear-gradient(90deg, #e86f00, #e6b000);
    transform: scale(1.03);
}
.kitchen-helper {
    background-color: #f3ffee;
    padding: 60px 20px;
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    margin-bottom: 60px;
    color: #FF7F00;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    text-align: center;
}

.kitchen-content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: flex-start;
}

.text-content {
    margin-top: 30px;
}

.text-content h3 {
    display: flex;
    width: 546px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #34464F;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 50px;
}


.slicer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.video-box {
    position: relative;
    width: 320px;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
}

.video-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #2ca600;
    font-size: 36px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.benefits-list {
    list-style: none;
    padding-left: 0;
}

.benefits-list li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 30px;
    color: #333;
    font-size: 16px;
}

.benefits-list li::before {
    content: '●';
    position: absolute;
    left: 0;
    color: #2ca600;
    font-size: 30px;
    top: -12px;
}

.section-title-benefits{
    margin-bottom: 60px;
    color: #449712;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    text-align: center;
}

.features {
    text-align: center;
    padding: 40px 10px;
}

.features .title {
    color: #449712;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
    text-align: center;
}

.features .subtitle {
    color: #34464F;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.features-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
}

.features-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: #2ca600;
    border-radius: 50%;
}

.features-image img {
    max-width: 300px;
    border-radius: 12px;
}

.text-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.text-content ul li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 30px;
    color: #333;
}

.text-content ul li::before {
    content: '●';
    position: absolute;
    left: 0;
    color: #ff6b00;
    font-size: 30px;
    top: -12px;
}

.subline {
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}

.image-grid {
    flex: 1 1 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.image-grid img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.reviews {
    background-color: #2e9e2e;
    padding: 50px 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

.review-back{
    background: none;
    position: relative;
}

.veg-rev1{
    position: absolute;
    left: -70px;
    top: 280px;
}


.veg-rev2{
    position: absolute;
    right: -50px;
    top: 400px;
}

.reviews-title {
    color: #FFF;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.reviews-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.review-card {
    background: #fff;
    color: #000;
    border-radius: 15px;
    padding: 20px;
    max-width: 300px;
    flex: 1 1 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.stars {
    color: #ff9900;
    font-size: 18px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 14px;
    margin-bottom: 15px;
}

.review-author {
    font-weight: 600;
    margin-bottom: 10px;
}

.review-card img {
    max-width: 100%;
    border-radius: 10px;
}


.owl-dots {
    display: block !important;
    text-align: center;
    margin-top: 20px;
}

.owl-dots{
    text-align: center;

    .owl-dot{
        span{
            display: inline-block;
            margin: 10px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #127AD3;
        }
        &.active{
            span{
                background-color: #1061A0;
            }
        }
    }
}


.delivery-title {
    margin-top: 80px;
    margin-bottom: 40px;
    color: #449712;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.delivery-info {
    text-align: center;
    margin-bottom: 80px;
}

.delivery-info p {
    margin-bottom: 22px;
    color: #34464F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.delivery-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.order-form {
    background-color: #449712;
    border-radius: 24px;
    padding: 16px;
    color: #fff;
    max-width: 380px;
    text-align: center;
}

.form-subtitle {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.order-form input {
   margin-bottom: 12px;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 260px;
    padding: 24px 36px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
}

.price-order {
    margin-top: 10px;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.new-price {
    font-size: 24px;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.7;
}

.order-btn {
    text-align: center;
    border: 1px  #FF7F00;
    margin: 0 auto;
    display: flex;
    width: 260px;
    height: 72px;
    padding: 20px 16px;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #FF7F00 21.51%, #FFD600 100%);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.privacy {
    font-size: 10px;
    text-align: center;
}

.order-form img{
    margin-top: 6px;
    margin-bottom: 6px;
}

.delivery-image img {
    max-width: 470px;
    border-radius: 20px;
}

.cta {
    text-align: center;
    margin-bottom: 100px;
}
.cta span{
    display: flex;
    justify-content: center;
}

.cta-h1 {
    padding: 10px;
    color: #34464F;
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration-line: line-through;
}

.orange-h1{
    color: #FF7F00;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}


.footer-links {
    background: #449712;
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    text-decoration: none;
    padding: 60px;
    margin-bottom: -40px;
}

.footer-links ul li{
    color: #FFFFFF;
    list-style-type: none;
}

.footer-links ul li a{
    color: #FFFFFF;
}